@font-face {
    font-family: 'Axiforma Bold';
    src: local('Axiforma Bold'), local('Axiforma-Bold'),
        url('Axiforma-Bold.woff2') format('woff2'),
        url('Axiforma-Bold.woff') format('woff'),
        url('Axiforma-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
