<div class="deskview">
    <div class="container contact-block">
        <div class="row">
            <div class="col-sm-5">
                <div class="details">
                    <div class="heading">Contact Us</div>
                    <div class="sub-head">Inspections</div>
                    <div class="child">(800) 309-6753 | info@wini.com </div>

                    <div class="sub-head" style="margin-top: 16px;">Franchising</div>
                    <div class="child">(800) 309-6753 | info@wini.com </div>

                    <div class="sub-head" style="margin-top: 16px;">Vendors</div>
                    <div class="child">(312) 557-9319 | vendors@wini.com</div>
                </div>
            </div>
    
            <div class="col-sm-7" style="padding-top: 78px;">
                <form>
                    <div class="d-flex f1 justify-content-between">
                        <div>
                            <label for="exampleInputName1" class="form-label">Name</label>
                            <input type="text" class="form-control c1" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Full Name">
                          </div>
                          <div>
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control c2" id="exampleInputEmail1" placeholder="xyz@abc.com">
                          </div>
                    </div>

                    <div class="d-flex f1 justify-content-between" style="margin-top: 44px;">
                        <div>
                            <label for="exampleInputPhone1" class="form-label">Phone Number</label>
                            <input type="phone" class="form-control c1" id="exampleInputPhone1" aria-describedby="emailHelp" placeholder="(123) 456-7890">
                          </div>
                          <div>
                            <label for="exampleInputZip1" class="form-label">ZIP Code</label>
                            <input type="number" class="form-control c2" id="exampleInputZip1" placeholder="XXXX">
                          </div>
                    </div>

                    <div style="margin-top: 35px;">
                        <label for="exampleInputMsg" class="form-label">Message</label>
                        <textarea class="form-control c3" aria-label="With textarea" placeholder="Please type in here..."></textarea>
                    </div>

                    <button class="button" type="submit">SUBMIT</button>
                    
                  </form>
            </div>
        </div>
    </div>
</div>



<!--------------MOBILE VIEW----------------->

<div class="mobview">
    <div class="container contact-block">
        <div class="row">
            <div class="col-sm-5">
                <div class="details">
                    <div class="heading">Contact Us</div>
                    <div class="sub-head">Inspections</div>
                    <div class="child">(800) 309-6753 | info@wini.com </div>

                    <div class="sub-head" style="margin-top: 16px;">Franchising</div>
                    <div class="child">(800) 309-6753 | info@wini.com </div>

                    <div class="sub-head" style="margin-top: 16px;">Vendors</div>
                    <div class="child">(312) 557-9319 | vendors@wini.com</div>
                </div>
            </div>
    
            <div class="col-sm-7" style="padding-top: 78px;">
                <form>
                    <div class="d-flex f1 justify-content-between">
                        <div>
                            <label for="exampleInputName1" class="form-label">Name</label>
                            <input type="text" class="form-control c1" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Full Name">
                          </div>
                          <div>
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control c2" id="exampleInputEmail1" placeholder="xyz@abc.com">
                          </div>
                    </div>

                    <div class="d-flex f1 justify-content-between" style="margin-top: 44px;">
                        <div>
                            <label for="exampleInputPhone1" class="form-label">Phone Number</label>
                            <input type="phone" class="form-control c1" id="exampleInputPhone1" aria-describedby="emailHelp" placeholder="(123) 456-7890">
                          </div>
                          <div>
                            <label for="exampleInputZip1" class="form-label">ZIP Code</label>
                            <input type="number" class="form-control c2" id="exampleInputZip1" placeholder="XXXX">
                          </div>
                    </div>

                    <div style="margin-top: 35px;">
                        <label for="exampleInputMsg" class="form-label">Message</label>
                        <textarea class="form-control c3" aria-label="With textarea" placeholder="Please type in here..."></textarea>
                    </div>

                    <button class="button" type="submit">SUBMIT</button>
                    
                  </form>
            </div>
        </div>
    </div>
</div>