<div class="deskview" style="margin-top: 61px;padding-bottom: 40px;">
    <div class="container box">
        <div class="text-center heading">
            Subscribe to our emails
        </div>
        <div class="text-center sub-head">
            Enter your email address to receive the latest notifications, newsletters, and updates from WIN! 
        </div>

            <div class="d-flex justify-content-center" style="gap: 25px;margin-top:44px;">
                <input type="email" class="form-control c2" id="exampleInputEmail1" placeholder="Your email address">
                <button class="button">Subscribe</button>
            </div>
    </div>
</div>


<!-----------MOBILE VIEW------------>
<div class="mobview" style="margin-top: 61px;padding-bottom: 40px;">
    <div class="container box">
        <div class="text-center heading">
            Subscribe to our emails
        </div>
        <div class="text-center sub-head">
            Enter your email address to receive the latest notifications, newsletters, and updates from WIN! 
        </div>

            <div class="d-flex justify-content-center" style="gap: 25px;margin-top:44px;">
                <input type="email" class="form-control c2" id="exampleInputEmail1" placeholder="Your email address">
                <button class="button">Subscribe</button>
            </div>
    </div>
</div>
