.suscribe_mail {
    text-align: center;
    padding: 55px;
    margin-top: 50px;
    background: #eeeeee;
    border-radius: 15px;
}

.suscribe_mail .field_body {
    width: 50%;
    margin: auto;
}

.field_body .text_field {
    width: 95%;
}

.suscribe_mail .text_field {
    gap: 25px;
}

.suscribe_btn button {
    height: 54px;
    width: 145%;
    background-color: #d4a656 !important;
}

.text_field .MuiFormControl-root {
    background: white;
    border-radius: 5px;
}

.suscribe_mail p {
    margin-top: 10px;
    color: #484848;
    font-weight: 400 !important;
}