.contact-info {
    width: 300px;
    /* border: 1px solid #f00; */
    padding-top: 20px;
}

.contact-info h4 {
    font-size: 1.5rem;
    color: rgba(36, 36, 71, 0.952);
    font-weight: 700;
}

.contact-info a{
    /* text-decoration: none; */
    color: #000;
    /* cursor: pointer; */
}

/* @media screen and (min-width: 1154px) {
    .contact-info {
        width: 100%;
    }
} */