.subscribe-form {
  width: 90vw;
  box-sizing: border-box;
  background-color: #eeeeee;
  border-radius: 12px;
  margin: 1rem auto;
  margin-bottom: 2rem;
  padding: 1.5rem;
  color: black;
  position: relative;
}

.subscribe-form__heading {
  font-size: var(--heading3);
  margin: 0;
  line-height: 1.4em;
}

.subscribe-form .subscribe-form__actions {
  width: 50%;
  margin: 1rem auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: var(--medium-bold);
}

.subscribe-form .subscribe-form__actions input {
  width: 40%;
  z-index: 10;
  border: none;
  border-radius: 8px;
  padding: 1em 2em;
  outline: none;
}

.subscribe-form .subscribe-form__actions button {
  color: white;
  background-color: #d4a656;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 1em 2em;
  margin-left: 1rem;
}

.subscribe-form .subscribe-form__actions button:hover {
  cursor: pointer;
}
