.App {
  padding: 80px;
}
.contact-wrapper {
  background: #ffffff;
  box-shadow: 0px 54px 54px rgba(74, 58, 255, 0.02),
    1px 4px 104px rgba(20, 20, 43, 0.04), 0px 98px 66px rgba(19, 18, 66, 0.02);
  border-radius: 20px;
  padding: 20px 5px;
}
.contact-details-section {
  padding: 30px;
  background-color: #fafafa;
  border-radius: 20px;
  min-height: 100%;
}
.contact-details-section > h4 {
  font-weight: 800;
  font-size: 25px;
  padding-bottom: 30px;
}
.contact-details-section > h6 {
  color: #1d2b4f;
  font-weight: 600;
  font-size: 18px;
}
.contact-details-section > span {
  font-size: 12px;
  line-height: 20px;
  padding-bottom: 20px;
  display: block;
}
.contact-form label {
  font-weight: 500;
  font-size: 18px;
}
.contact-form input {
  height: 60px;
  border: 1px solid #eff0f7;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 10px;
  margin-bottom: 40px;
  padding-left: 25px;
}
.contact-form textarea {
  border: 1px solid #eff0f7;
  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 25px 25px;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: 15px;
  color: #6f6c90;
  font-weight: 400px;
}
.btn-submit {
  font-weight: 700;
  font-size: 16px;
  background: #005981;
  border-radius: 10px;
  color: #ffffff;
  padding: 16px 32px;
}
.email-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 52px;
  background-color: #eeeeee;
  border-radius: 12px;
  margin-top: 60px;
}
.input-email {
  display: flex;
}
.email-subscribe > h1 {
  font-weight: 700;
  font-size: 36px;
}
.email-subscribe > p {
  padding: 20px 0;
  font-weight: 400;
  font-size: 18px;
}
.input-email > input {
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 25rem;
  height: 50px;
}
.btn-subscribe {
  padding: 9px 45px;
  background: #d4a656;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  margin: 0 25px;
}
@media screen and (max-width: 480px) {
  .App {
    padding: 0;
  }
  .input-email {
    flex-direction: column;
  }
  .input-email > input {
    width: 80vw;
  }
  .btn-subscribe {
    width: 80vw;
    margin: 20px 0 0 0;
  }
}
