.contactDisplay {
  background-color: orangered;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
  transition: box-shadow 0.3s ease-in-out; 
  margin-top: 30px;
  height: 450px;
  margin-left: 30px;
  margin-right: 30px;

}
.ContactUsStatic{
  background-color: purple;
  display: flex;
  flex: 1;
  width: 700px;
}

.formContainer{
  background-color: teal;
  display: flex;
  flex: 1;
  height: 723px;
  width: 380px;
  /* margin-left: 750px; */
}

.container {
  display: flex;

  
}

.containerMain {
  background-color: white;
  /* margin-top: 20px; */
  padding-top: 100px;
padding-left: 70px;
padding-bottom: 300px;
}
.mainBackground {
  background-color: white;
  height: 680px;
  width:1240x;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0.6, 0.4);
   */
   box-shadow: 0px 4px 8px whitesmoke;
  border-radius: 20px;
  /* padding : 50px */
}

.App {
  background-color: whitesmoke;
  padding:40px ;
}

.sideHeading{

}
.sideHeader {

}
.sideInfo{
  
}
