body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  width: 100vw;
  height: 100vh;
}
:root {
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}
